- cache( 'v1' ) do
	.banner{ style: "background:url(https://cdn1.averyparishphilp.com/peacock.jpg);background-size:cover;background-position:center;background-repeat:no-repeat;background-color:#555;" }
		.container
			.row{ style: 'padding: 4em 0 20em 0;' }
				.col-sm-8.col-sm-offset-2{ style: 'background-color:rgba(0,0,0,0.5);padding:24px;' }
					%h1.center-text.color-white
						Hi

					%h3.text-center.color-white
						This is where I publish my writings, photos, drawings, and more.

			
