.cl-sidebar
	.cl-toggle
		%i.fa.fa-bars
	.cl-navblock
		.menu-space
			.content
				.sidebar-logo
					.logo
						%a{ href: '/admin' }
							= SwellMedia.app_name
							Admin
				.side-user{ style: 'padding: 0 20px;' }

				%ul.cl-vnavigation

					- if current_user.momdad?
						%li
							%a{ href: main_app.allowance_admin_index_path }
								Allowance Admin
					- else
						%li
							%a{ href: main_app.allowance_index_path }
								Your Allowance

					%li
						%a{ href: main_app.art_admin_index_path }
							Art
							
					%li
						%a{ href: swell_media.category_admin_index_path }
							Categories

					%li
						%a{ href: swell_media.contact_admin_index_path }
							Contacts
					
					

					%li
						%a{ href: main_app.writing_admin_index_path }
							Writings
					
					%li
						%a{ href: swell_media.asset_admin_index_path }
							Uploads


					
						

					
					

					%li
						%a{ href: swell_media.page_admin_index_path }
							Pages
						


