

.center-block {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.font-serif {
    font-family: "Libre Baskerville", serif;
}

.font-sans {
    font-family: "Lato", sans-serif;
}


.ingredient-info {
    width: 66%;
    padding: 12px;

    font-size: 115%;

    border-top: 1px solid #fff;
}
.ingredient-info a:hover {
    color: #fff;
}

.btn-black {
    color: #000;
    border-color: #000;
}

/* Colors */
.bg-black {
    background-color: #000;
}
.bg-gray {
    background-color: #d7d7d7;
}
.bg-dk-gray {
    background-color: #969696;
}
.bg-lt-gray {
    background-color: #f5f5f5;;
}


.color-black {
    color: #000;
}

.color-print {
    color: #565656;
}
.color-white {
    color: #fff;
}

.color-gray {
    color: #969696;
}


.list-style-none{
	list-style-type: none;
}

.size-100{
	font-size: 100%;
}

.size-90 {
    font-size: 90%;
}
.size-80 {
    font-size: 80%;
}
.size-75 {
    font-size: 75%;
}
.size-70 {
    font-size: 70%;
}
.size-60 {
    font-size: 60%;
}
.size-50 {
    font-size: 50%;
}

.size-110 {
    font-size: 110%;
}
.size-115 {
    font-size: 115%;
}
.size-120 {
    font-size: 120%;
}
.size-125 {
    font-size: 125%;
}
.size-130 {
    font-size: 130%;
}
.size-140 {
    font-size: 140%;
}
.size-150 {
    font-size: 150%;
}
.size-160 {
    font-size: 160%;
}
.size-170 {
    font-size: 170%;
}
.size-180 {
    font-size: 180%;
}
