


.col-sm-6
	.thumbnail
		%a{ href: art_path( picture ) }
			%img.img-resposive{ src: picture.avatar, alt: picture.title }
		%h5{ style: 'text-align:center;' }
			%a{ href: art_path( picture ) }
				= picture.title	
