
.container
	.row
		.col-sm-10.col-sm-offset-1
			%h1
				= @picture.title

			%a{ href: @picture.avatar }
				%img.img-responsive{ src: @picture.avatar, target: '_new' }

			%p
				= raw @picture.description
