
.container{ style: 'margin-top: 1em;' }
	.row
		.col-xs-8
			.copyright
				©
				= Time.now.year
				Avery Parish-Philp
				All rights reserved.
		.col-xs-4.text-right
			= link_to 'Admin', '/login'

