
.container{ style: 'margin-top: 1em;' }
	.row
		.col-xs-8
			.copyright
				©
				= Time.now.year
				Avery Parish-Philp
				All rights reserved.
		.col-xs-4.text-right
			- if current_user.present?
				
				- if current_user.admin?
					= link_to 'Admin', '/login'
					|
				= link_to 'Logout', '/logout'
				
				
			- else
				= link_to 'Admin', '/login'
	.row{ style: 'margin-bottom:2em;' }
		.col-xs-12


